<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my cv</title>
</head>
<body>

<h2><u>Mohamed Hassan Abdullah Hassan</u></h2>
<p>Location: Cairo,Egypt</p>
<p>Contacts:</p>
<p>Phone: +201553068978</p>
<p>Email: mohaman52@gmail.com</p>

<h3><u>Education:</u></h3>
<p>Bachelor's Degree in Computer Science Helwan University</p>
<h3><u>skills:</u></h3>
<dl>
    <dt>knowledge of:</dt>
    <dd>-basic programming</dd>
    <dd>-object oriented programming</dd>
    <dd>-basics of computer architecture</dd>
    <dd>-data structures (stack,queue,linked list,tree)</dd>
    <dd>-databases</dd>
    <dd>-programming skills</dd>

</dl>
</body>
</html>